<%- include("header")-%>

<div class="box2"><h2>This is the about page</h2></div>

<div class="box2"><p>njvuinsalkncvsidnflk;sdmvjhdsmvjkdsjklvlsdklvnlsdavnjhsvkmnsdlkjnv

</p><br>
<p>ncvjsknvljksndavkjnsjhkdnvlksdvnlskdnvjhklnakjvnjksdnvklj</p></div>


<%- include("footer")-%>